.back {
    background-color: grey;
}

.default{
	background-color: black;
	color: white;
}

.tab{
	width: 200px;
	background-color: black;
	color: white;
}

.tab:active{
	background-color: #FF0000;
}

.header{
	height: 10px;
}

.space{
	vertical-align: middle;
}